<!-- shipchoice-nav.liquid
The idea is to parameterize the navigational choices.
These currently (6-18) come at four levels before the user gets to the product:
(1) choose the region which holds the origins of the subject of the commemoration
(2) choose the time period of the crossing
(3) choose the shipping or air artery, the general path, used in the crossing
(4) choose the ship to display as part of the commemoration

Each choice is represented in a variable
Each choice variable is bound to one of the allowed values for that variable
    It would be good if these variables were always bound (iniitally to a default)
    It seems that these variable need to be defined in an outer scope from choice-nav)
The navigational choice variables have a dual representation:
    The new page to which the user wants to navigate
    A text string describing the choice represented by the page
        (We'd like the latter values to be always available in the interaction)
Each choice has an associated prompt string
Each choice value has an associated image
    Each choice image can be clicked on for enlargement
    When viewing the image, the user may choose it as the value for the current variable
Each choice value image has a textual alternate description

The navigational choices result in the binding of the choice variable to a new page.
...comments end here --> 

<!-- #### okay, recapitulate all in liquid... ### 
ColonialAndEarlyIndependenceEra(1607-1820)
EraOfModernSail(1800-1900)
EraOfTheSteamSailShip(1840-1915)
EraOfThePassengerLiner(1890-1970)
EraOfAirTravel(1945-Present)
-->

{% assign eraArray = "#ColonialAndEarlyIndependenceEra#EraOfModernSail#EraOfTheSteamSailShip#EraOfThePassengerLiner(1890-1970)#EraOfAirTravel" | split: '#' %}
{% assign eraStartArray = "#1607#1800#1840#1890#1945" | split: '#'%}
{% assign eraEndArray = "#1820#1900#b1915#1970#2018" | split: '#' %}
{% assign eraIndex = 4 %}

<p>
>>>>>>Era=={{ eraArray[eraIndex] }}
</p>

{% assign shipsArray = "#Maasdam#Rijndam#Kaiser Wilhelm der Grosse#Ivernia" | split: '#' %}
{% assign shipPixArrayFiles = "#Maasdam-colpic#Ryndam-bwpic#Kaiser_Wilhelm_der_Grosse-poster#Ivernia-b_wpic" | split: '#' %}
{% assign shipMultPixArrayFiles = "#Maasdam-colpic|Maasdam-bwpic#Ryndam-colpic|Ryndam-bwpic#Kaiser_Wilhelm_der_Grosse-bwpic|Kaiser_Wilhelm_der_Grosse-bwpic2|Kaiser_Wilhelm_der_Grosse-bwpic3|Kaiser_Wilhelm_der_Grosse-bwpic4|Kaiser_Wilhelm_der_Grosse-postcd|Kaiser_Wilhelm_der_Grosse-painting#Ivernia-postcd|Ivernia-postcd2|Ivernia-bwpic|Ivernia-colpic" | split: '#' %} 
{% assign shipEraArray = "#EraOfThePassengerLiner(1890-1970)#EraOfThePassengerLiner(1890-1970)#EraOfThePassengerLiner(1890-1970)#EraOfThePassengerLiner(1890-1970)" | split: '#' %}
{% assign shipCareerStartArray = "#1952#1951#1897#1900" | split: '#' %}
{% assign shipCareerEndArray = "#1968#1970#1918#1917" | split: '#' %}
{% assign shipTotVolumeArray = "#135#160#255#243" | split: '#' %}
{% assign shippingLineArray = "#Holland-America Line#Holland-America Line#North German#Cunard" | split: '#' %}
    
{% assign commemTimeIntervalStart = localStorage.CommemorationTimePeriodStart %}
{% assign commemTimeIntervalEnd = localStorage.CommemorationTimePeriodEnd %}
{% assign shipIndex = 0 %}
{% for ship in shipsArray %}
<table>
<tbody>
<tr>
<!--
  <p>In ship loop:</p>
  <p>ship=={{ship}}</p>
  <p>shipIndex=={{shipIndex}}</p>
  <p>shipsArray[shipIndex]=={{shipsArray[shipIndex]}}</p>
  <p>shipPixArrayFiles[shipIndex]=={{shipPixArrayFiles[shipIndex] }}.jpg </p>
  <p>shipPixArrayFiles[shipIndex]=={{shipPixArrayFiles[shipIndex].jpg | file_img_url}}.jpg </p>
  <p>shipCareerStartArray[shipIndex]=={{shipCareerStartArray[shipIndex]}}</p>
  <p>shipCareerEndArray[shipIndex]=={{shipCareerEndArray[shipIndex]}}</p>
  <p>shipTotVolumeArray[shipIndex]=={{shipTotVolumeArray[shipIndex]}}</p>
  <p>shippingLineArray[shipIndex]=={{shippingLineArray[shipIndex]}}</p>
    <p>
    Ship = {{ shipsArray[shipIndex] }}
    </p>
-->
  {% if shipsArray[shipIndex] == "" %}
    <p>Undefined ship entry</p>
  {% elsif shipEraArray[shipIndex] contains eraArray[eraIndex] %}
      {% assign shipPicsList = shipMultPixArrayFiles[shipIndex] %}
      {% assign shipPicOptions = shipPicsList | split: '|' %}
      <p>
        ShipName: {{ shipsArray[shipIndex] }}
        Career Start= {{ shipCareerStartArray[shipIndex] }}
        Career End= {{ shipCareerEndArray[shipIndex] }}
      </p>
      {% assign shipPicIndex = 0 %}
      {% for shipPic in shipPicOptions %}
          <!-- somehow the re-directs ("#") loose their anchor points when I add the list of parameters ("?"'s and "&"'s) -->
          <td style="text-align: left;">
            <a href="https:{{ shipPicOptions[shipPicIndex] | append: '.jpg' | file_img_url: '1000x' }}"
               alt={{ shipsArray[shipIndex] }}
               data-lightbox="jimaworks-gallery"
               data-title="&lt;a href=https://jimaworks.com/pages/0-0-call-origins-page#getChoiceReturnPoint?shipChoice={{shipsArray[shipIndex]}}&shipPic={{shipPixArrayFiles[shipIndex].jpg | file_img_url}}&shipMultPic={{shipMultPixArrayFiles[shipIndex]}}&shipCareerStart={{shipCareerStartArray[shipIndex]}}&shipCareerEnd={{shipCareerEndArray[shipIndex]}}&shipTotVolume={{shipTotVolumeArray[shipIndex]}}&shippingLine={{shippingLineArray[shipIndex]}}
                           &gt;Click here &lt;/a&gt;Click here to choose {{ shipPicOptions[shipPicIndex] }}">
               <img src="https:{{ shipPicOptions[shipPicIndex] | append: '.jpg' | file_img_url: 'medium' }}" 
                    alt={{ shipsArray[shipIndex] }} />
            </a>
                <p><a href='0-0-call-origins-page#getChoiceReturnPoint?shipChoice={{shipsArray[shipIndex]}}&shipPic={{shipPixArrayFiles[shipIndex].jpg | file_img_url}}&shipMultPic={{shipMultPixArrayFiles[shipIndex]}}&shipCareerStart={{shipCareerStartArray[shipIndex]}}&shipCareerEnd={{shipCareerEndArray[shipIndex]}}&shipTotVolume={{shipTotVolumeArray[shipIndex]}}&shippingLine={{shippingLineArray[shipIndex]}}'
                  a="" 
                  onclick="RecordShipChoice({{ shipsArray[shipIndex] }})">
                  Click here to choose {{ shipPicOptions[shipPicIndex] }}.
            </a></p>
          </td>
          {% assign shipPicIndex = shipPicIndex | plus: 1 %}
      {% endfor %} <!-- shipPic in shipPicOptions -->
  {% else %}
    <p>{{shipsArray[shipIndex]}}: Not a Holland-America Line Ship</p>   
  {% endif %}
</tr>
</tbody>
</table>
{% assign shipIndex = shipIndex | plus: 1 %}
{% endfor %}

<script type="text/javascript">
function RecordShipChoice(shipChoice) {
    window.alert('RecordShipChoice: shipChoice='+shipChoice) ;
    console.log("shipChoice="+shipChoice);
    localStorage.Ship=shipChoice ;
}
</script>

<!--

<p>Era=<script type="text/javascript">document.write(localStorage.Era);</script>
   : Start==<script type="text/javascript">document.write(localStorage.CommemorationTimePeriodStart);</script>
   , End==<script type="text/javascript">document.write(localStorage.CommemorationTimePeriodEnd);</script>
   </p>

-->
<!-- elsif CareerStartArray >= commemTimeIntervalStart and CareerEndArray <= commemTimeIntervalEnd -->
<!-- elsif shippingLineArray[shipIndex] contains 'Holland-America Line'  -->
<!-- elsif shippingLineArray[shipIndex] contains eraArray[eraIndex] -->

