{% assign dates = shop.metafields.automatik.map_years | split: "," %}

<div id="accordion">
  <h3>Step 1: Style</h3>
  <div>
		<h2>Select Options</h2>
    <select name="id" id="productSelect" class="product-single__variants">
      {% for variant in product.variants %}
        {% if variant.available %}
          <option  data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
        {% else %}
          <option disabled="disabled">
            {{ variant.title }} - {{ 'products.product.sold_out' | t }}
          </option>
        {% endif %}
      {% endfor %}
    </select>
		<h2>Select Map Background</h2>
		<div class="grid__item post-large--one-fifth">
			<label class="text-center">
		  	<input required class="required" type="radio" name="properties[Map Background]" value="Palace Rosa">
				<img src="{{ 'mb-Palace-Rosa.png' | asset_img_url: "300x" }}">
				<span>Palace Rosa</span><br>
			</label>
		</div>
		<div class="grid__item post-large--one-fifth">
			<label class="text-center">
		  	<input required class="required" type="radio" name="properties[Map Background]" value="Sea Spray Blue">
				<img src="{{ 'mb-Sea-Spray-Blue.png'| asset_img_url: "300x" }}">
				<span>Sea Spray Blue</span><br>
			</label>
		</div>
		<div class="grid__item post-large--one-fifth">
			<label class="text-center">
		  	<input required class="required" type="radio" name="properties[Map Background]" value="Mayan Glow">
				<img src="{{ 'mb-Mayan-Glow.png'| asset_img_url: "300x" }}">
				<span>Mayan Glow</span><br>
			</label>
		</div>
		<div class="grid__item post-large--one-fifth">
			<label class="text-center">
		  	<input required class="required" type="radio" name="properties[Map Background]" value="Paris Sage">
				<img src="{{ 'mb-Paris-Sage.png'| asset_img_url: "300x" }}">
				<span>Paris Sage</span><br>
			</label>
		</div>
		<div class="grid__item post-large--one-fifth">
			<label class="text-center">
		  	<input required class="required" type="radio" name="properties[Map Background]" value="Empress Teal">
				<img src="{{ 'mb-Empress-Teal.png' | asset_img_url: "300x" }}">
				<span>Empress Teal</span><br>
			</label>
		</div>
		<div class="clearfix"></div>	
		<h2>Select Map Time Period</h2>
		<div class="grid__item post-large--one-sixth">
			<label class="text-center">
			  <input required class="required" type="radio" name="properties[Map Time Period]" value="Palace Rosa">
				<img src="{{ 'map-date-1700.png' | asset_img_url: "300x" }}">
				<span>Circa 1700</span><br>
			</label>
		</div>
		<div class="grid__item post-large--one-sixth">
			<label class="text-center">
		  	<input required class="required" type="radio" name="properties[Map Time Period]" value="Sea Spray Blue">
				<img src="{{ 'map-date-1800.png' | asset_img_url: "300x" }}">
				<span>Circa 1800</span><br>
			</label>
		</div>
		<div class="grid__item post-large--one-sixth">
			<label class="text-center">
		  	<input required class="required" type="radio" name="properties[Map Time Period]" value="Mayan Glow">
				<img src="{{ 'map-date-1850.png' | asset_img_url: "300x" }}">
				<span>Circa 1850</span><br>
			</label>
		</div>
		<div class="grid__item post-large--one-sixth">
			<label class="text-center">
		  	<input required class="required" type="radio" name="properties[Map Time Period]" value="Paris Sage">
				<img src="{{ 'map-date-1900.png' | asset_img_url: "300x" }}">
				<span>Circa 1900</span><br>
			</label>
		</div>
		<div class="grid__item post-large--one-sixth">
			<label class="text-center">
		  	<input required class="required" type="radio" name="properties[Map Time Period]" value="Empress Teal">
				<img src="{{ 'map-date-1950.png' | asset_img_url: "300x" }}">
				<span>Circa 1950</span><br>
			</label>
		</div>
		<div class="grid__item post-large--one-sixth">
			<label class="text-center">
		  	<input required class="required" type="radio" name="properties[Map Time Period]" value="Empress Teal">
				<img src="{{ 'map-date-2016.png' | asset_img_url: "300x" }}">
				<span>Contemporary</span><br>
			</label>
		</div>		
	</div>
  <h3>Step 2: Dates & Places</h3>
  <div>
		<h2>Provide any information you have</h2>
		<p class="line-item-property__field">
			<label>
				Departure Date 
				<a class="help-link" href="/pages/what-country-did-they-come-from" target="_blank">Get help with this <i class="fa fa-external-link" aria-hidden="true"></i></a>
			</label>
			<select  id="historical-date-of-map" name="properties[Historical Date of Map]">
				<option selected disabled>Please select a date:</option>
				<option value="2016">Contemporary (2016)</option>		
				{% for date in dates %}
					<option value="{{ date }}">{{ date }}</option>
				{% endfor %}	
			</select>
		</p>	
		<p class="help-text">If you know the date, this will help us to narrow down what ship your ancestor came in on and we will use it to pre-fill your Titles & Plaque<br> .</p>

		<p id="departure" class="line-item-property__field">	
			<label for="trailer-line-2">
				Departure Port
				<a class="help-link" href="/pages/what-country-did-they-come-from" target="_blank">Get help with this <i class="fa fa-external-link" aria-hidden="true"></i></a>
			</label>
			<input class="typeahead" id="trailer-line-2" type="text" name="properties[Trailer Line 2]" placeholder="Start typing to select from the list of known items or write in your own" >
		</p>	
		<p class="help-text">Select the port from which your ancestor departed, this will help us to narrow down what ship they came in on | <a href="/pages/what-country-did-they-come-from" target="_blank">Get help with this <i class="fa fa-external-link" aria-hidden="true"></i></a>.</p>
	
		<p id="arrival" class="line-item-property__field">
			<label for="trailer-line-3">
				Arrival Port
				<a class="help-link" href="/pages/what-country-did-they-come-from" target="_blank">Get help with this <i class="fa fa-external-link" aria-hidden="true"></i></a>
			</label>
			<input class="typeahead" type="text" name="properties[Trailer Line 3]" placeholder="Start typing to select from the list of known items write in your own">
		</p>
		<p class="help-text">E.g. Arrival: [Port][, Country][, ArrivalDate] as above (but as desired) | <a href="/pages/when-did-they-come-over" target="_blank">Get help with this <i class="fa fa-external-link" aria-hidden="true"></i></a>.</p>
	
		<p id="ships" class="line-item-property__field">
			<label for="trailer-line-1">
				Ship
				<a class="help-link" href="/pages/what-country-did-they-come-from" target="_blank">Get help with this <i class="fa fa-external-link" aria-hidden="true"></i></a>
			</label>
			<input class="typeahead" id="trailer-line-1" type="text" name="properties[Trailer Line 1]" placeholder="Start typing to select from the list of known items or write in your own"/>
		</p>
		<p class="help-text"><a href="/pages/what-ship-brought-them-here" target="_blank">Get help with this <i class="fa fa-external-link" aria-hidden="true"></i></a>.</p>
	</div>
	<h3>Step 3: Passengers</h3>
	<div>
		<a href="https://cdn.shopify.com/s/files/1/1336/0641/t/8/assets/ProductAnatomy.png"  title="Resources" target="_blank" class="reference-btn">Reference T5</a>

		<p class="line-item-property__field">
			<label for="optional-plaque-leader">Optional Plaque Leader</label>
			<input id="optional-plaque-leader" type="text" name="properties[*Optional Plaque Leader]" placeholder="optional - see hints and tips">
		</p>
		<p class="help-text">  If desired, add a Plaque Leader such as <i> Antonisse-Jordan Family Ancestry </i> above. | <a href="/pages/who-came-over" target="_blank">Get help with this <i class="fa fa-external-link" aria-hidden="true"></i></a>.</p>
		

		<div class="input_fields_wrap">
	  	<div><label for="name-1">Traveler 1 (You can add up to 7)</label><input type="text" id="name-1" class="member" name="properties[Name #1]" placeholder="E.g. Full Name, Relation to others who crossed, Age at crossing"></div>
		</div>
		<p class="help-text"><a href="/pages/who-came-over" target="_blank">Get help with this <i class="fa fa-external-link" aria-hidden="true"></i></a>. More names?, <a href="/pages/contact-us">Contact us</a>.</p>
	
		<div class="input_fields_wrap_2">
	  	<button class="add_field_button members-btn">+ Add Another Name</button>
		</div>
	</div>
	<h3>Step 4: Confirm Titles & Plaque Text</h3>
	<div>
		<div class="grid__item post-large--one-half">
		
		</div>
		<div class="grid__item post-large--one-half">
		
		</div>
	</div>
</div>




<script>
	$(document).ready(function() {
	    var max_fields      = 7; //maximum input boxes allowed
	    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
	    var add_button      = $(".add_field_button"); //Add button ID
    
	    var x = 1; //initlal text box count
	    $(add_button).click(function(e){ //on add input button click
	        e.preventDefault();
	        if(x < max_fields){ //max input box allowed
	            x++; //text box increment
	            $(wrapper).append('<div class="member"><label for="name-' + x + '">Traveler ' + x + '</label><input type="text"  id="name-' + x + '" name="properties[Name #' + x + ']" placeholder="E.g. Full Name, Relation to others who crossed, Age at crossing"><a href="#" class="remove_field">Remove</a></div>'); //add input box
	        }
	    });
    
	    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
	        e.preventDefault(); $(this).parent('div').remove(); x--;
	    })
	});
</script>

