{% assign asset_files = "1600's - 1810's Colonial,001Col_IndepEra1630MayanGlowWintrhop.jpg,001Col_IndepEra1630MayanGlowWintrhop.jpg,001Col_IndepEra1630MayanGlowWintrhop.jpg,001Col_IndepEra1630MayanGlowWintrhop.jpg,001Col_IndepEra1630MayanGlowWintrhop.jpg,001Col_IndepEra1630MayanGlowWintrhop.jpg,1820's - 1880's Modern Sail, 1840's - 1910's Sail and Steam,1890's - 1960's Era of the Passenger Liner,1950's - Present. Era of Air Travel" | split: ',' %}

{%- capture 'data_title' -%}
	&lt;a href='https://jimaworks.myshopify.com/pages/products'&gt;Click here&lt;/a&gt;
	to begin the process of commemorating your immigration event!
{%- endcapture -%}

<div class="grid">
	<div class="grid__item">
		<div class="section-header">
			<h1 class="section-header--title">{{ page.title }}</h1>
		</div>
		<div class="rte">
			{{ page.content }}
		</div>
	</div>		
	<div class="gallery_pjf">
		{% for asset_file in asset_files %}
			{% if asset_file contains ".jpg" %}
			<div class="grid__item one-sixth medium--one-third small--one-half">
				<a data-lightbox="jimaworks-gallery" 
					data-title="{{ data_title }}"
					href="{{ asset_file | asset_img_url: '1200x' }}">
					<img src="{{ asset_file | asset_img_url: '256x' }}">
				</a>
			</div>
			{% else %}
			<div class="grid__item one-whole mt20">
				<h3>{{ asset_file }}</h3>
			</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="grid__item text-center mt20" style="margin">
		<a class="btn btn--full btn--large" href="https://jimaworks.com/pages/products">Let's Get Started!</a>
	</div>		
</div>