{%- capture 'json' -%}{{ shop.metafields.automatik.routes }}{%- endcapture -%}
{%- capture json_error -%}{%- include 'json_decode' jd__namespace:'fields' jd__data:json -%}{%- endcapture -%}
{%- if json_error != '' -%}{{ json_error }}{%- endif -%}

{%- include 'jd__function' with 'keys|fields' -%}
{%- assign routes = jd__yield_1 -%}

<div class="grid">

  <div class="grid__item post-large--two-thirds push--post-large--one-sixth">

    <div class="section-header">
      <h1 class="section-header--title">{{ page.title }}</h1>
    </div>
    
    <div class="rte">
      {{ page.content }}
    </div>
		<div id="routes-css-wrapper">
		<table id="Routes" class="full table--responsive">
		  <thead>
		    <tr>
		      <th>Start</th>
		      <th>End</th>
					<th>Route</th>
		      <th>Ship Name</th>
		      <th>Port of Origin</th>
		      <th>Port of Arrival</th>
		      <th>Country of Origin</th>
		    </tr>
		  </thead>
		  <tbody>
				{%- for route in routes -%}			
					{%- include 'jd__function' with route -%}

					{% capture route_start_date %}echo|{{ route }}.start{% endcapture %}
					{% capture start_date %}{% include 'jd__function' with route_start_date %}{% endcapture %}
	
					{% capture route_end_date %}echo|{{ route }}.end{% endcapture %}
					{% capture end_date %}{% include 'jd__function' with route_end_date %}{% endcapture %}
	
					{% capture route_desc %}echo|{{ route }}.route{% endcapture %}
					{% capture desc %}{% include 'jd__function' with route_desc %}{% endcapture %}
	
					{% capture route_ship_name %}echo|{{ route }}.ship_name{% endcapture %}
					{% capture ship_name %}{% include 'jd__function' with route_ship_name %}{% endcapture %}
	
					{% capture route_port_of_origin %}echo|{{ route }}.port_of_origin{% endcapture %}
					{% capture port_of_origin %}{% include 'jd__function' with route_port_of_origin %}{% endcapture %}
	
					{% capture route_port_of_arrival %}echo|{{ route }}.port_of_arrival{% endcapture %}
					{% capture port_of_arrival %}{% include 'jd__function' with route_port_of_arrival %}{% endcapture %}
	
					{% capture route_country_of_origin %}echo|{{ route }}.country_of_origin{% endcapture %}
					{% capture country_of_origin %}{% include 'jd__function' with route_country_of_origin %}{% endcapture %}		
					<tr>
					<td>{{ start_date }}</td>	
					<td>{{ end_date }}</td>	
					<td>{{ desc }}</td>	
					<td>{{ ship_name }}</td>	
					<td>{{ port_of_origin }}</td>	
					<td>{{ port_of_arrival }}</td>	
					<td>{{ country_of_origin }}</td>
				</tr>
				{% endfor %}
		  </tbody>
		</table>
	</div>

  </div>

</div>

  {{ '//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js' | script_tag }}

<script>
	$(document).ready( function () {
	    $('#Routes').DataTable();
	} );
	</script>